---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


# 구글웹폰트 추가 CTH
# @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
